body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
}

h1 {
    color: white;
    font-size: 40px;
}

.photo {
    width: 250px;
    height: auto;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.message {
    font-size: 18px;
    color: white;
    max-width: 500px;
    margin: auto;
    line-height: 1.6;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: #ff4d6d;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff4d6d;
    color: white;
}
